In [1]:
#
# Beispiele für die Benutzung von NumPy
# Bei Bedarf die Python-Module wie wget und tabulate mittels conda oder pip instalieren#
import numpy as np
import wget
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt

In [2]:
from tabulate import tabulate
from scipy.stats import itemfreq

Hier wird ein Datenset von Autos herunterladen
https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

In [3]:
DATA_URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

In [4]:
wget.download(DATA_URL, "auto.csv")
# usecols wird benutzt, um nur bestimmte Spalten zu laden
# make: 2
# fuel: 3
# num-of-doors: 5
# price: 25

'auto (1).csv'

In [15]:
dt = [("brand","S8"), ("fuel","S10"), ("doors","S10"), ("price",float)]
all_autos= np.loadtxt("auto.csv", delimiter=",", dtype=str, usecols=[2,3,5,25])

all_autos.shape

(205, 4)

In [16]:
# Alle Preise in einer Spalte
all_autos_prices = all_autos[:,3]

all_autos_prices

array(['13495', '16500', '16500', '13950', '17450', '15250', '17710',
       '18920', '23875', '?', '16430', '16925', '20970', '21105', '24565',
       '30760', '41315', '36880', '5151', '6295', '6575', '5572', '6377',
       '7957', '6229', '6692', '7609', '8558', '8921', '12964', '6479',
       '6855', '5399', '6529', '7129', '7295', '7295', '7895', '9095',
       '8845', '10295', '12945', '10345', '6785', '?', '?', '11048',
       '32250', '35550', '36000', '5195', '6095', '6795', '6695', '7395',
       '10945', '11845', '13645', '15645', '8845', '8495', '10595',
       '10245', '10795', '11245', '18280', '18344', '25552', '28248',
       '28176', '31600', '34184', '35056', '40960', '45400', '16503',
       '5389', '6189', '6669', '7689', '9959', '8499', '12629', '14869',
       '14489', '6989', '8189', '9279', '9279', '5499', '7099', '6649',
       '6849', '7349', '7299', '7799', '7499', '7999', '8249', '8949',
       '9549', '13499', '14399', '13499', '17199', '19699', '18399',
       '11900', '13200', '12440', '13860', '15580', '16900', '16695',
       '17075', '16630', '17950', '18150', '5572', '7957', '6229', '6692',
       '7609', '8921', '12764', '22018', '32528', '34028', '37028', '?',
       '9295', '9895', '11850', '12170', '15040', '15510', '18150',
       '18620', '5118', '7053', '7603', '7126', '7775', '9960', '9233',
       '11259', '7463', '10198', '8013', '11694', '5348', '6338', '6488',
       '6918', '7898', '8778', '6938', '7198', '7898', '7788', '7738',
       '8358', '9258', '8058', '8238', '9298', '9538', '8449', '9639',
       '9989', '11199', '11549', '17669', '8948', '10698', '9988',
       '10898', '11248', '16558', '15998', '15690', '15750', '7775',
       '7975', '7995', '8195', '8495', '9495', '9995', '11595', '9980',
       '13295', '13845', '12290', '12940', '13415', '15985', '16515',
       '18420', '18950', '16845', '19045', '21485', '22470', '22625'],
      dtype='<U13')

In [17]:
# Manche Zeilen besitzen einen ?. Wir ersetzen diese bevor wir diese Spalte in float umkonvertieren
all_autos_prices = np.core.defchararray.replace(np.array(all_autos[:,3]), '?', '0').astype("float")

all_autos[:,3] = all_autos_prices

In [11]:
all_autos_prices

array([13495., 16500., 16500., 13950., 17450., 15250., 17710., 18920.,
       23875.,     0., 16430., 16925., 20970., 21105., 24565., 30760.,
       41315., 36880.,  5151.,  6295.,  6575.,  5572.,  6377.,  7957.,
        6229.,  6692.,  7609.,  8558.,  8921., 12964.,  6479.,  6855.,
        5399.,  6529.,  7129.,  7295.,  7295.,  7895.,  9095.,  8845.,
       10295., 12945., 10345.,  6785.,     0.,     0., 11048., 32250.,
       35550., 36000.,  5195.,  6095.,  6795.,  6695.,  7395., 10945.,
       11845., 13645., 15645.,  8845.,  8495., 10595., 10245., 10795.,
       11245., 18280., 18344., 25552., 28248., 28176., 31600., 34184.,
       35056., 40960., 45400., 16503.,  5389.,  6189.,  6669.,  7689.,
        9959.,  8499., 12629., 14869., 14489.,  6989.,  8189.,  9279.,
        9279.,  5499.,  7099.,  6649.,  6849.,  7349.,  7299.,  7799.,
        7499.,  7999.,  8249.,  8949.,  9549., 13499., 14399., 13499.,
       17199., 19699., 18399., 11900., 13200., 12440., 13860., 15580.,
       16900., 16695., 17075., 16630., 17950., 18150.,  5572.,  7957.,
        6229.,  6692.,  7609.,  8921., 12764., 22018., 32528., 34028.,
       37028.,     0.,  9295.,  9895., 11850., 12170., 15040., 15510.,
       18150., 18620.,  5118.,  7053.,  7603.,  7126.,  7775.,  9960.,
        9233., 11259.,  7463., 10198.,  8013., 11694.,  5348.,  6338.,
        6488.,  6918.,  7898.,  8778.,  6938.,  7198.,  7898.,  7788.,
        7738.,  8358.,  9258.,  8058.,  8238.,  9298.,  9538.,  8449.,
        9639.,  9989., 11199., 11549., 17669.,  8948., 10698.,  9988.,
       10898., 11248., 16558., 15998., 15690., 15750.,  7775.,  7975.,
        7995.,  8195.,  8495.,  9495.,  9995., 11595.,  9980., 13295.,
       13845., 12290., 12940., 13415., 15985., 16515., 18420., 18950.,
       16845., 19045., 21485., 22470., 22625.])

In [18]:
# Die Zeilen deren Preis gleich 0 ist, werden aus dem Datenset rausgenommen
no_prices = np.where(all_autos_prices == 0.0)
all_autos = np.delete(all_autos, no_prices, axis=0)
all_autos_prices = np.delete(all_autos_prices, no_prices, axis=0)

In [25]:
print(f"Durschnittspreis ${np.mean(all_autos_prices)}") # Das sind nur strings
print(f"Maximum ${np.max(all_autos_prices)} {all_autos[np.argmax(all_autos_prices)]}")
print(f"Minimum ${np.min(all_autos_prices)} {all_autos[np.argmin(all_autos_prices)]}")

Durschnittspreis $13207.129353233831
Maximum $45400.0 ['mercedes-benz' 'gas' 'two' '45400.0']
Minimum $5118.0 ['subaru' 'gas' 'two' '5118.0']

In [26]:
print ("Umkonvertierung in Euro")
dollar_euro_conversion_rate = 0.88

Umkonvertierung in Euro

In [28]:
# Wir selektieren die Spalte mit dem index 3 und konvertieren den Preis nach Euros
all_autos[:,3] = np.array(all_autos[:,3], "float32") * dollar_euro_conversion_rate

In [31]:
print(tabulate(all_autos, headers=["Marke","Treibstoff","Anzahl Türe","Preis in Euro"]))

Marke          Treibstoff    Anzahl Türe      Preis in Euro
-------------  ------------  -------------  ---------------
alfa-romero    gas           two                   11875.6
alfa-romero    gas           two                   14520
alfa-romero    gas           two                   14520
audi           gas           four                  12276
audi           gas           four                  15356
audi           gas           two                   13420
audi           gas           four                  15584.8
audi           gas           four                  16649.6
audi           gas           four                  21010
bmw            gas           two                   14458.4
bmw            gas           four                  14894
bmw            gas           two                   18453.6
bmw            gas           four                  18572.4
bmw            gas           four                  21617.2
bmw            gas           four                  27068.8
bmw            gas           two                   36357.2
bmw            gas           four                  32454.4
chevrolet      gas           two                    4532.88
chevrolet      gas           two                    5539.6
chevrolet      gas           four                   5786
dodge          gas           two                    4903.36
dodge          gas           two                    5611.76
dodge          gas           two                    7002.16
dodge          gas           four                   5481.52
dodge          gas           four                   5888.96
dodge          gas           four                   6695.92
dodge          gas           ?                      7531.04
dodge          gas           four                   7850.48
dodge          gas           two                   11408.3
honda          gas           two                    5701.52
honda          gas           two                    6032.4
honda          gas           two                    4751.12
honda          gas           two                    5745.52
honda          gas           two                    6273.52
honda          gas           four                   6419.6
honda          gas           four                   6419.6
honda          gas           two                    6947.6
honda          gas           two                    8003.6
honda          gas           four                   7783.6
honda          gas           four                   9059.6
honda          gas           four                  11391.6
honda          gas           two                    9103.6
isuzu          gas           four                   5970.8
isuzu          gas           two                    9722.24
jaguar         gas           four                  28380
jaguar         gas           four                  31284
jaguar         gas           two                   31680
mazda          gas           two                    4571.6
mazda          gas           two                    5363.6
mazda          gas           two                    5979.6
mazda          gas           four                   5891.6
mazda          gas           four                   6507.6
mazda          gas           two                    9631.6
mazda          gas           two                   10423.6
mazda          gas           two                   12007.6
mazda          gas           two                   13767.6
mazda          gas           two                    7783.6
mazda          gas           four                   7475.6
mazda          gas           two                    9323.6
mazda          gas           four                   9015.6
mazda          diesel        ?                      9499.6
mazda          gas           four                   9895.6
mazda          gas           four                  16086.4
mazda          diesel        four                  16142.7
mercedes-benz  diesel        four                  22485.8
mercedes-benz  diesel        four                  24858.2
mercedes-benz  diesel        two                   24794.9
mercedes-benz  diesel        four                  27808
mercedes-benz  gas           four                  30081.9
mercedes-benz  gas           two                   30849.3
mercedes-benz  gas           four                  36044.8
mercedes-benz  gas           two                   39952
mercury        gas           two                   14522.6
mitsubishi     gas           two                    4742.32
mitsubishi     gas           two                    5446.32
mitsubishi     gas           two                    5868.72
mitsubishi     gas           two                    6766.32
mitsubishi     gas           two                    8763.92
mitsubishi     gas           two                    7479.12
mitsubishi     gas           two                   11113.5
mitsubishi     gas           two                   13084.7
mitsubishi     gas           two                   12750.3
mitsubishi     gas           four                   6150.32
mitsubishi     gas           four                   7206.32
mitsubishi     gas           four                   8165.52
mitsubishi     gas           four                   8165.52
nissan         gas           two                    4839.12
nissan         diesel        two                    6247.12
nissan         gas           two                    5851.12
nissan         gas           four                   6027.12
nissan         gas           four                   6467.12
nissan         gas           two                    6423.12
nissan         gas           two                    6863.12
nissan         gas           four                   6599.12
nissan         gas           four                   7039.12
nissan         gas           two                    7259.12
nissan         gas           four                   7875.12
nissan         gas           four                   8403.12
nissan         gas           four                  11879.1
nissan         gas           four                  12671.1
nissan         gas           four                  11879.1
nissan         gas           two                   15135.1
nissan         gas           two                   17335.1
nissan         gas           two                   16191.1
peugot         gas           four                  10472
peugot         diesel        four                  11616
peugot         gas           four                  10947.2
peugot         diesel        four                  12196.8
peugot         gas           four                  13710.4
peugot         diesel        four                  14872
peugot         gas           four                  14691.6
peugot         diesel        four                  15026
peugot         gas           four                  14634.4
peugot         diesel        four                  15796
peugot         gas           four                  15972
plymouth       gas           two                    4903.36
plymouth       gas           two                    7002.16
plymouth       gas           four                   5481.52
plymouth       gas           four                   5888.96
plymouth       gas           four                   6695.92
plymouth       gas           four                   7850.48
plymouth       gas           two                   11232.3
porsche        gas           two                   19375.8
porsche        gas           two                   28624.6
porsche        gas           two                   29944.6
porsche        gas           two                   32584.6
renault        gas           four                   8179.6
renault        gas           two                    8707.6
saab           gas           two                   10428
saab           gas           four                  10709.6
saab           gas           two                   13235.2
saab           gas           four                  13648.8
saab           gas           two                   15972
saab           gas           four                  16385.6
subaru         gas           two                    4503.84
subaru         gas           two                    6206.64
subaru         gas           two                    6690.64
subaru         gas           four                   6270.88
subaru         gas           four                   6842
subaru         gas           four                   8764.8
subaru         gas           four                   8125.04
subaru         gas           four                   9907.92
subaru         gas           four                   6567.44
subaru         gas           four                   8974.24
subaru         gas           four                   7051.44
subaru         gas           four                  10290.7
toyota         gas           two                    4706.24
toyota         gas           two                    5577.44
toyota         gas           four                   5709.44
toyota         gas           four                   6087.84
toyota         gas           four                   6950.24
toyota         gas           four                   7724.64
toyota         gas           four                   6105.44
toyota         gas           four                   6334.24
toyota         diesel        four                   6950.24
toyota         diesel        four                   6853.44
toyota         gas           four                   6809.44
toyota         gas           four                   7355.04
toyota         gas           four                   8147.04
toyota         gas           two                    7091.04
toyota         gas           two                    7249.44
toyota         gas           two                    8182.24
toyota         gas           two                    8393.44
toyota         gas           two                    7435.12
toyota         gas           two                    8482.32
toyota         gas           two                    8790.32
toyota         gas           two                    9855.12
toyota         gas           two                   10163.1
toyota         gas           two                   15548.7
toyota         gas           four                   7874.24
toyota         diesel        four                   9414.24
toyota         gas           four                   8789.44
toyota         gas           four                   9590.24
toyota         gas           four                   9898.24
toyota         gas           two                   14571
toyota         gas           two                   14078.2
toyota         gas           four                  13807.2
toyota         gas           four                  13860
volkswagen     diesel        two                    6842
volkswagen     gas           two                    7018
volkswagen     diesel        four                   7035.6
volkswagen     gas           four                   7211.6
volkswagen     gas           four                   7475.6
volkswagen     diesel        four                   8355.6
volkswagen     gas           four                   8795.6
volkswagen     gas           two                   10203.6
volkswagen     gas           two                    8782.4
volkswagen     gas           four                  11699.6
volkswagen     diesel        four                  12183.6
volkswagen     gas           four                  10815.2
volvo          gas           four                  11387.2
volvo          gas           four                  11805.2
volvo          gas           four                  14066.8
volvo          gas           four                  14533.2
volvo          gas           four                  16209.6
volvo          gas           four                  16676
volvo          gas           four                  14823.6
volvo          gas           four                  16759.6
volvo          gas           four                  18906.8
volvo          diesel        four                  19773.6
volvo          gas           four                  19910

In [32]:
# Anzahl der VW im Datenset
nb_vw = len(np.where(all_autos[:,0] == "volkswagen")[0])
print(f"Anzahl von VW Autos: {nb_vw}")

Anzahl von VW Autos: 12

In [33]:
# Anzahl der Autos per Marke
# Wir benutzen hier itemfreq von scipy.stats
stats = np.array(itemfreq(all_autos[:,0]))

In [34]:
stats

array([['alfa-romero', '3'],
       ['audi', '6'],
       ['bmw', '8'],
       ['chevrolet', '3'],
       ['dodge', '9'],
       ['honda', '13'],
       ['isuzu', '2'],
       ['jaguar', '3'],
       ['mazda', '17'],
       ['mercedes-benz', '8'],
       ['mercury', '1'],
       ['mitsubishi', '13'],
       ['nissan', '18'],
       ['peugot', '11'],
       ['plymouth', '7'],
       ['porsche', '4'],
       ['renault', '2'],
       ['saab', '6'],
       ['subaru', '12'],
       ['toyota', '32'],
       ['volkswagen', '12'],
       ['volvo', '11']], dtype='<U21')

Optional: Sortierung nach Anzahl der Fahrzeuge pro Marke 
stats = stats[stats[:,1].astype(int).argsort()]

In [35]:
# Konvertierung zu einem record 
d = np.rec.fromarrays([stats[:,0], stats[:,1]], formats=['<U21','int'], names=['brand','numbers'])

In [36]:
d

rec.array([('alfa-romero',  3), ('audi',  6), ('bmw',  8),
           ('chevrolet',  3), ('dodge',  9), ('honda', 13), ('isuzu',  2),
           ('jaguar',  3), ('mazda', 17), ('mercedes-benz',  8),
           ('mercury',  1), ('mitsubishi', 13), ('nissan', 18),
           ('peugot', 11), ('plymouth',  7), ('porsche',  4),
           ('renault',  2), ('saab',  6), ('subaru', 12), ('toyota', 32),
           ('volkswagen', 12), ('volvo', 11)],
          dtype=[('brand', '<U21'), ('numbers', '<i4')])

In [37]:
# Sortiere nach Anzahl der Fahrzeuge pro Marke
d = d[d["numbers"].astype(int).argsort()]

In [38]:
# Erste Buchstabe der Automarke soll gross geschrieben werden
d["brand"] = np.char.capitalize(d["brand"])

In [ ]:
# Ausgabe mit Matplotlib
plt.xticks(range(len(d)),d["brand"],rotation='vertical')
plt.bar(range(len(d)),d["numbers"])
plt.title("Anzahl der Fahrzeuge")
plt.xlabel("Marke")
plt.ylabel("Anzahl")
plt.show()